### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In python, variables are created when you assign a value to them, and they do not need explicit declaration to resolve memory space. The declaration happens automatically when you assign a value to a variable.

outline:
<li>Introduction to Variables</li>
<li>Declaring and Assigning Variables</li>
<li>Naming Conventions</li>
<li>Understanding Variable Types</li>
<li>Type Checking and Conversion</li>
<li>Dynamic Typing</li>
<li>Practical Examples and Common Errors</li>

In [1]:
a=100

In [2]:
## Declaring and Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables
print("age :",age)
print("height :",height)
print("name :",name)

age : 32
height : 6.1
name : Krish

In [3]:
## Naming Convention 
## Variable names should be descriptive
## they must start with a letter or an '-' and contains letter,numbers, and underscore
## variables names case sensitive

#valid variable names

first_name="Krish"
last_name="Jr"

In [6]:
# Invalid variable names
#2gae=30
#first-name="Krish"
##@name="Krish"

In [9]:
## case sensitivity
name="krish"
Name="Jr"

In [11]:
## Understanind Variable types
## Python is dynamically typed, type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="Krish" #string
is_student=True #boolean

print(type(name))

<class 'str'>

In [12]:
## Type Checking and Conversion
type(height)

float

In [14]:
age=25
print(type(age))

#conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [16]:
height=5.11
type(height)

float

In [17]:
int(height)

5

In [18]:
float(int(height))

5.0

In [19]:
## Dynamic Typing
## Python allows the type of  a variable to chnage as the program as executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [21]:
## input

age=int(input("What is the age"))
print(age, type(age))

33 <class 'int'>

In [23]:
## Simple calculator 
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum= num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 28.0
Difference: 20.0
Product: 96.0
Quotient: 6.0